In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('JEP.csv')

In [3]:
df.shape

(43387, 8)

In [3]:
20/100 * len(df)

43386.0

In [6]:
mp = df[:43387]

In [7]:
mp.to_csv('JEP.csv')

In [4]:
20/100 * 33.2

6.640000000000001

In [3]:
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       216930 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [12]:
df[' Category'].unique(), len(df[' Category'].unique())

(array(['HISTORY', "ESPN's TOP 10 ALL-TIME ATHLETES",
        'EVERYBODY TALKS ABOUT IT...', ..., 'OFF-BROADWAY',
        'RIDDLE ME THIS', 'AUTHORS IN THEIR YOUTH'], dtype=object),
 27995)

In [19]:
df[' Question'][:5]

0    For the last 8 years of his life, Galileo was ...
1    No. 2: 1912 Olympian; football star at Carlisl...
2    The city of Yuma in this state has a record av...
3    In 1963, live on "The Art Linkletter Show", th...
4    Signer of the Dec. of Indep., framer of the Co...
Name:  Question, dtype: object

In [4]:
import random

sunn = random.randint(0, 216928)
print(sunn)

200708

In [26]:
df[' Question'][sunn], df[' Answer'][sunn], df[' Category'][sunn]

('In the 14th century, negotiations at Bruges led to a 2-year truce in this long war',
 "Hundred Years' War",
 'TO TELL THE TRUCE')

In [30]:
int(df[' Value'][1][1:])

200

In [34]:
print('Next question. Hint: {}'.format(df[' Category'][sunn]))
print(df[' Question'][sunn], ' ?')
let = input('Your answer ')
amount = 0
if let == df[' Answer'][sunn]:
    amount += int(df[' Value'][sunn][1:])
    print('Correct, you got {} with a total of ${}'.format(df[' Value'][sunn], amount))

Next question. Hint: TO TELL THE TRUCE
In the 14th century, negotiations at Bruges led to a 2-year truce in this long war  ?
Your answer Hundred Years' War
Correct, you got $800 with a total of $800

In [ ]:
import time, threading

WAIT_SECONDS = 1

def foo():
    print(time.ctime())
    threading.Timer(WAIT_SECONDS, foo).start()
    
foo()




import time

def foo():
  print time.ctime()

while True:
  foo()
  time.sleep(1)
    
    
import threading, time

def foo():
    print time.ctime()
    
WAIT_TIME_SECONDS = 2

ticker = threading.Event()
while not ticker.wait(WAIT_TIME_SECONDS):
    foo()

In [14]:
import time, threading

In [15]:
secs= 10

def crtime():
    print(time.ctime())
    sunn = random.randint(0, 216928)
    print(sunn)
    print('Next question. Hint: {}'.format(df[' Category'][sunn]))
    print(df[' Answer'][sunn])
    print(df[' Question'][sunn], ' ?')
    let = input('Your answer ')
    amount = 0
    if let == 'stop':
        break
    elif let == df[' Answer'][sunn]:
        amount += int(df[' Value'][sunn][1:])
        print('Correct, you got {} with a total of ${}'.format(df[' Value'][sunn], amount))
    else:
        print('wrong answer')
    threading.Timer(secs, crtime).start()
    
crtime()

SyntaxError: 'break' outside loop (<ipython-input-15-3ed583e64b3d>, line 16)

In [32]:

def crtime():
    task = 0
    amount = 0
    while task<secs:
        print(time.ctime())
        sunn = random.randint(0, 216928)#print(sunn)
        print('Next question. Hint: {}'.format(df[' Category'][sunn]))
        print('Answer', df[' Answer'][sunn])
        print(df[' Question'][sunn], ' ?')
        let = input('Your answer')
        if let == df[' Answer'][sunn]:
            amount += int(df[' Value'][sunn].replace(',', '')[1:])
            print(df[' Round'][sunn], 'The Answer Is ', df[' Answer'][sunn])
            print('Correct, you got {} with a total of ${}'.format(df[' Value'][sunn], amount))
        elif let == 'stop':
            break
    #threading.Timer(secs, crtime).start()
    #time.sleep(secs)

In [38]:
#while True:
#    crtime()
#    time.sleep(secs)

Thu Jun  3 15:11:58 2021
Next question. Hint: COLOMBIA PICTURES
Answer Simon Bolivar
This simple Simon is on the money in Colombia; the 1,000-peso note  ?
Your answerSimon Bolivar
Jeopardy! The Answer Is  Simon Bolivar
Correct, you got $1000 with a total of $1000
10s job current time : Thu Jun  3 15:12:08 2021
Thu Jun  3 15:12:18 2021
Next question. Hint: MUSICIANS
Answer Cat Stevens
After a near-death experience, this singer converted to the Islamic faith and took a new name:  Yusuf Islam  ?
Your answerCat Stevens
Jeopardy! The Answer Is  Cat Stevens
Correct, you got $200 with a total of $200
10s job current time : Thu Jun  3 15:12:43 2021
Thu Jun  3 15:12:53 2021
Next question. Hint: 20 FOR DUMMIES
Answer a top
"Parenting for Dummies" uses this toy as an analogy for consistency: "it spins until it wobbles, and then it falls down"  ?
Your answerstop

In [45]:
import threading, time, signal

from datetime import timedelta

WAIT_TIME_SECONDS = 10

class ProgramKilled(Exception):
    pass

def foo():
    print(time.ctime())
    
def signal_handler(signum, frame):
    raise ProgramKilled
    
class Job(threading.Thread):
    def __init__(self, interval, execute, *args, **kwargs):
        threading.Thread.__init__(self)
        self.daemon = False
        self.stopped = threading.Event()
        self.interval = interval
        self.execute = execute
        self.args = args
        self.kwargs = kwargs
        
    def stop(self):
                self.stopped.set()
                self.join()
    def run(self):
            while not self.stopped.wait(self.interval.total_seconds()):
                self.execute(*self.args, **self.kwargs)

In [ ]:
if __name__ == "__main__":
    signal.signal(signal.SIGTERM, signal_handler)
    signal.signal(signal.SIGINT, signal_handler)
    job = Job(interval=timedelta(seconds=WAIT_TIME_SECONDS), execute=foo)
    job.start()
    
    while True:
        ans = crtime()
        if ans == 'stop':
            job.stop()
            break
        
def crtime():
    print(time.ctime())
    sunn = random.randint(0, 216928)
    print(sunn)
    print('Next question. Hint: {}'.format(df[' Category'][sunn]))
    print(df[' Answer'][sunn])
    print(df[' Question'][sunn], ' ?')
    let = input('Your answer ')
    amount = 0
    if let == df[' Answer'][sunn]:
        amount += int(df[' Value'][sunn][1:])
        print('Correct, you got {} with a total of ${}'.format(df[' Value'][sunn], amount))
    #threading.Timer(secs, crtime).start()
    return let

Tue Jun  1 12:46:47 2021
83733
Next question. Hint: A, B, C, D THEN F
algebra
This branch of mathematics uses letters to symbolize numbers in equations  ?
Tue Jun  1 12:46:57 2021

In [39]:
import time

def ask():
    task = 0
    print(time.ctime())
    sunn = random.randint(0, 216928)
    print('Next question. Hint: {}'.format(df[' Category'][sunn]))
    print('Answer', df[' Answer'][sunn])
    print(df[' Question'][sunn], ' ?')
    let = input('Your answer')
    return let, sunn

def crtime(let, sunn):
    """ This function is to check whether the answer given by the user is correct with the answer provided in the dataset,
    print the correct answer at the end, increase the users money after every win 
    and display the amount won plus the total amount he has"""
    amount = 0
    if let == df[' Answer'][sunn]:
        ignore = ['$', ',']
        amount += int(''.join([i for i in df[' Value'][sunn] if i not in ignore]))
       # amount += int(df[' Value'][sunn].replace(',', '')[1:])
        print(df[' Round'][sunn], 'The Answer Is ', df[' Answer'][sunn])
        print('Correct, you got {} with a total of ${}'.format(df[' Value'][sunn], amount))
def sample_():
    while True:
        let, sunn = ask()
        if let == 'stop':
            break
        else:
            crtime(let, sunn)
            print("10s job current time : {}".format(time.ctime()))
            time.sleep(secs)
sample_()

Thu Jun  3 15:18:40 2021
Next question. Hint: SCIENTIFIC AMERICANS
Answer Gene
In a lab in 1972 David Baltimore created one of these basic portions of a chromosome  ?
Your answerGene
Double Jeopardy! The Answer Is  Gene
Correct, you got $200 with a total of $200
10s job current time : Thu Jun  3 15:18:45 2021
Thu Jun  3 15:18:55 2021
Next question. Hint: NOVEL CHARACTERS
Answer Penrod
This Booth Tarkington title character's last name is Scofield  ?
Your answerPenrod
Double Jeopardy! The Answer Is  Penrod
Correct, you got $800 with a total of $800
10s job current time : Thu Jun  3 15:19:00 2021
Thu Jun  3 15:19:10 2021
Next question. Hint: YOU LOSE!
Answer Waylon Jennings
He "lost" his seat to the Big Bopper as Buddy Holly & the others flew off February 3, 1959  ?
Your answerstop